# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* List popular development environment open source tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Plotly

| Data Science Tools |
| --------------- |
| Jupyter Notebook |
| R |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

minutes= 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Ishan Arun